<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>All Songs</title>

</head>
<body>
    
    <!-- Extending the base layout -->
    {% extends 'base.html' %}

    {% block content %}

    <div id="bottomcontainer">
        <h1>Featured Songs</h1>
        <div class="songs-container">
            <table>
                {% for song in songs %}
                <tr class="song-card-homepage">
                    <td><img src="{{ url_for('static', filename='/Images/Songs-Covers/' ~ song.thumbnail) }}" alt="Song Thumbnail"></td>
                    <td>Title: {{ song.song_title }}</td>
                    <td>Artist: {{ song.artist_name }}</td>
                    <td>Release Year: {{ song.release_year }}</td>                        
                    <td>Album: {{ song.album }}</td>
                    <td>Genre: {{ song.genre }}</td>
                    <td>
                        <audio controls>
                            <source src="{{ url_for('static', filename='/Songs/' ~ Songs) }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </td>
                    <td>                        
                        <form action="{{ url_for('song_rating') }}" method="post">
                        <button class="rate-button-homepage">Rate it</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    {% endblock %}
</body>
</html>